body {
  background-color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.main {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.main-header {
  padding: 12px 8px;
  width: 100%;
}

.main-header__img {
  display: flex;
  justify-content: center;
}

.main-header__img > img {
  max-width: 220px;
  height: 64px;
}

.main-information {
  padding: 0 8px;
}

.main-information-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}

.main-information-block__title {
  font-size: 12px;
  color: #333;
  font-weight: 800;
}

.main-information-block__text {
  font-size: 15px;
  color: #464545d1;
}

.main-information-block__price {
  font-size: 24px;
  font-weight: 700;
  color: #018ffc;
}

.main-line {
  margin-top: 60px;
  border: none;
  border: 1px dashed #c4c4c463;
}

.main-content__img {
  margin: 16px 0 0;
  padding: 8px;
}

.main-content__form {
  margin-top: 10px;
}

.main-content__form_block {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 2px 6px #ccc;
  padding: 12px 30px 20px;
  margin-bottom: 18px;
  background: #ffffff;
}

.main-content__form_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 0;
}

.main-content__form_top_numc {
  padding: 0 15px;
}

.main-content__form_top_numc_title {
  padding: 6px 0 0;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}

.main-content__form_top_numc_input > input {
  width: 100%;
  outline: none;
  padding: 6px 0;
  border: none;
  color: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.main-content__form_top_numc_input > input:focus {
  color: #333;
  border-bottom: 1px solid #007be8;
}

.main-content__form_top_year {
  padding: 0 15px;
}

.main-content__form_top_year_title {
  padding: 6px 0 0;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}

.main-content__form_top_year_input > input {
  width: 100%;
  outline: none;
  padding: 6px 0;
  border: none;
  color: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.main-content__form_top_year_input > input:focus {
  color: #333;
  border-bottom: 1px solid #007be8;
}

.main-content__form_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 0;
}

.main-content__form_top_name {
  padding: 0 15px;
}

.main-content__form_top_name_title {
  padding: 6px 0 0;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}

.main-content__form_top_name_input > input {
  width: 100%;
  outline: none;
  padding: 6px 0;
  border: none;
  color: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.main-content__form_top_name_input > input:focus {
  color: #333;
  border-bottom: 1px solid #007be8;
}

.main-content__form_top_cv {
  padding: 0 15px;
}

.main-content__form_top_cv_title {
  padding: 6px 0 0;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}

.main-content__form_top_cv_input > input {
  width: 100%;
  outline: none;
  padding: 6px 0;
  border: none;
  color: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.main-content__form_top_cv_input > input:focus {
  color: #333;
  border-bottom: 1px solid #007be8;
}

.main-content__form_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-content__form_info_email {
  padding: 0 15px;
}

.main-content__form_info_email_title {
  padding: 6px 0 0;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}

.main-content__form_info_email_input > input {
  width: 100%;
  outline: none;
  padding: 6px 0;
  border: none;
  color: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.main-content__form_info_email_input > input:focus {
  color: #333;
  border-bottom: 1px solid #007be8;
}

.main-content__form_info_phone {
  padding: 0 15px;
}

.main-content__form_info_phone_title {
  padding: 6px 0 0;
  font-size: 12px;
  color: #333;
  font-weight: 700;
}

.main-content__form_info_phone_input > input {
  width: 100%;
  outline: none;
  padding: 6px 0;
  border: none;
  color: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.main-content__form_info_phone_input > input:focus {
  color: #333;
  border-bottom: 1px solid #007be8;
}

.main-content__form_btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0 50px 0;
}

.main-content__form_btn > button {
  cursor: pointer;
  width: 300px;
  margin: 0 4px;
  padding: 12px 40px;
  font-size: 17px;
  color: #fff;
  background-color: #018ffc;
  border: none;
  border-radius: 6px;
}

.main-content__form_btn > button:hover {
  background-color: #007be8;
}

@media (max-width: 1024px) {
  .main-line {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 400px;
  }

  .main-information-block__title {
    font-size: 11px;
  }

  .main-information-block__text {
    font-size: 13px;
  }

  .main-information-block__price {
    font-size: 20px;
  }

  .main-content__form_top_numc_input > input {
    font-size: 12px;
  }

  .main-content__form_top_year_input > input {
    font-size: 12px;
  }

  .main-content__form_top_name_input > input {
    font-size: 12px;
  }

  .main-content__form_top_cv_input > input {
    font-size: 12px;
  }

  .main-content__form_info_email_input > input {
    font-size: 12px;
  }

  .main-content__form_info_phone_input > input {
    font-size: 12px;
  }

  .main-content__form_btn > button {
    width: 200px;
  }
}

@media (max-width: 414px) {
  .container {
    max-width: 390px;
  }
}

@media (max-width: 390px) {
  .container {
    max-width: 350px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 330px;
  }

  .main-content__form_block {
    padding: 10px 5px 30px;
    margin-bottom: 15px;
  }

  .main-content__form_top_numc_input > input {
    font-size: 11px;
  }

  .main-content__form_top_year_input > input {
    font-size: 11px;
  }

  .main-content__form_top_name_input > input {
    font-size: 11px;
  }

  .main-content__form_top_cv_input > input {
    font-size: 11px;
  }

  .main-content__form_info_email_input > input {
    font-size: 11px;
  }

  .main-content__form_info_phone_input > input {
    font-size: 11px;
  }

  .main-content__form_btn > button {
    width: 180px;
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }

  .main-information-block__text {
    font-size: 12px;
  }

  .main-information-block__price {
    font-size: 18px;
  }

  .main-content__form_top_numc_title {
    font-size: 11px;
  }

  .main-content__form_top_year_title {
    font-size: 11px;
  }

  .main-content__form_top_name_title {
    font-size: 11px;
  }

  .main-content__form_top_cv_title {
    font-size: 11px;
  }

  .main-content__form_info_email_title {
    font-size: 11px;
  }

  .main-content__form_info_phone_title {
    font-size: 11px;
  }

  .main-content__form_btn > button {
    width: 150px;
    font-size: 14px;
  }
}
